---
http_interactions:
- request:
    method: get
    uri: https://hotel.qantas.com.au/api/v1/search.json?adults=2&checkIn=2016-02-28&checkOut=2016-02-29&location=Melbourne%20CBD,%20VIC,%20Australia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"0f92e49bcd17c43c624f5b9902ae74a3"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"meta":{"destination":"Melbourne CBD, VIC, Australia","total_count":190},"results":[{"property_id":7376,"name":"Rydges
        Melbourne","latitude":"-37.811289","longitude":"144.970472","street_address":"186
        Exhibition St","suburb":"Melbourne","rating":"4.5","rating_type":"AAA","cancellation_policy_id":2,"property_local":true,"category_id":15,"popularity":135,"inclusions":[],"nights":1,"room_name":"Deluxe
        Twin Room","lowest_cost_offer_name":"Bonus Points Offer","lowest_cost_offer_id":36143,"total_fees_payable_to_hotel":0,"lowest_average_nightly_cost":179,"base_total_cost_of_stay":179,"lowest_total_cost_of_stay":179,"total_discount":0,"savings_message":null,"is_qff_partner":true,"is_aquire_partner":false,"path":"/properties/7376?adults=2\u0026campaign=qantasdouble2\u0026checkIn=2016-02-28\u0026checkOut=2016-02-29\u0026children=0\u0026infants=0\u0026offer_id=36143","promotion":{"code":"QANTASDBL-ONGOING","position":200,"number_of_days":null,"campaign_code":"qantasdouble2","sash_text":"Bonus
        Points","short_sash_text":null},"feedback":{"review_count":1541,"average_rating":"3.5","rating_image_url":"//www.tripadvisor.com/img/cdsi/img2/ratings/traveler/3.5-15969-4.png"},"is_flightbooker_deal":false,"image":{"caption":"Rydges
        Exterior ","url_small":"//d7a5zt5yhtcu9.cloudfront.net/k/images/000/015/547/size100x100.jpg?1421905074","url_medium":"//d7a5zt5yhtcu9.cloudfront.net/k/images/000/015/547/size180x200.jpg?1421905074","url_large":"//d7a5zt5yhtcu9.cloudfront.net/k/images/000/015/547/size300x250.jpg?1421905074"},"points":6,"total_points_earn":1074,"total_points_cost":28681,"qff_promotion_string":"6
        pts per AUD","card_image_url":"//d7a5zt5yhtcu9.cloudfront.net/k/images/000/015/547/size270x140.jpg?1421905074","card_image_thumb":"//d7a5zt5yhtcu9.cloudfront.net/k/images/000/015/547/size100x100.jpg?1421905074","card_image_caption":"Rydges
        Exterior ","result_position":0},{"property_id":6998,"name":"Quest Southbank","latitude":"-37.822714","longitude":"144.966371","street_address":"16
        Kavanagh  St","suburb":"Southbank","rating":"4.5","rating_type":"Self Rated","cancellation_policy_id":7,"property_local":true,"category_id":1,"popularity":108,"inclusions":[],"nights":1,"room_name":"2
        Bedroom Apartment","lowest_cost_offer_name":"Bonus Points Offer","lowest_cost_offer_id":38082,"total_fees_payable_to_hotel":0,"lowest_average_nightly_cost":299,"base[...]
